@import url("https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow: hidden;
  font-family: "Archivo Black", sans-serif;
}

.logo {
  font-size: 50px;
  font-weight: 400;
  color: #ff447e;
  margin-bottom: 40px;
}

.modal {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  background-color: #7fbbff;
  justify-content: space-between;
}
.modal span {
  font-size: 50px;
  margin-top: 150px;
  color: #ffffff;
}
.modal button {
  font-size: 30px;
  padding: 10px 40px;
  border: none;
  border-radius: 15px;
  background-color: #ff7ff9;
  margin-bottom: 50px;
  transition: all 0.1s ease-in;
}
.modal button:hover {
  cursor: pointer;
  background-color: #e83ed7;
}

.main {
  background-color: aquamarine;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main .select {
  display: block;
  margin-bottom: 20px;
  font-family: "Archivo Black", sans-serif;
  background-color: #fff;
  width: 200px;
  font-size: 16px;
  font-weight: 400;
  color: #444;
  line-height: 1.3;
  padding: 0.6em 1.4em 0.5em 0.8em;
  max-width: 100%;
  box-sizing: border-box;
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E"), linear-gradient(to bottom, #ffffff 0%, #e5e5e5 100%);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
}
.main .select-css::-ms-expand {
  display: none;
}
.main .select-css:hover {
  border-color: #888;
}
.main .select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, 0.7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222;
  outline: none;
}
.main .select-css option {
  font-weight: normal;
}
.main .select-css *[dir=rtl] .select-css, .main .select-css :root:lang(ar) .select-css, .main .select-css :root:lang(iw) .select-css {
  background-position: left 0.7em top 50%, 0 0;
  padding: 0.6em 0.8em 0.5em 1.4em;
}
.main .gameBoard {
  width: 500px;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.main .gameBoard .card {
  margin: 10px;
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 20px;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in;
  cursor: pointer;
}
.main .gameBoard .card span {
  font-size: 50px;
  padding: 0 100px;
}
.main .gameBoard .cardMatched {
  background-color: #5ad66f;
}
.main .gameBoard .cardFailed {
  background-color: #f44336;
}
.main .gameBoard .cardFlipped {
  background-color: white;
}
.main .gameBoard .cardBack {
  margin: 10px;
  width: 100px;
  height: 100px;
  background: linear-gradient(45deg, #22ab93 0%, #19668d 100%);
  border-radius: 20px;
  border: 1px solid white;
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .main .gameBoard {
    width: 300px;
  }
  .main .gameBoard .card {
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }
  .main .gameBoard .cardBack {
    width: 70px;
    height: 70px;
    border-radius: 10px;
  }
  .logo {
    font-size: 30px;
  }
}
@media screen and (max-width: 450px) {
  .main .gameBoard {
    width: 250px;
  }
  .main .gameBoard .card {
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
  .main .gameBoard .cardBack {
    margin: 5px;
    width: 60px;
    height: 60px;
    border-radius: 10px;
  }
}

/*# sourceMappingURL=Main.module.css.map */
